@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Neucha&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter;
}

.post-board {
    text-align: center;
}

.post {
    text-align: left;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the box horizontally */
}